[2021-04-15 16:26] lenucksi commented on #122
@Ludmila-N might be interested in doing the review for the last few videos and @lenucksi can put up the YT links to the videos next to the items.

[2021-04-15 17:01] lenucksi commented on #388
@voborgus might know more about this.

[2021-04-16 08:23] voborgus commented on #388
Integrated with [quizdown-js](https://github.com/bonartm/quizdown-js) our website:

https://innersourcecommons.org/learn/learning-path/introduction/02/

How to implement this:

1. Add property on the top of the page.

[code]

2. Use quiz snippet with markdown style questions:

[code]

Will be happy to receive all questions from the workbook in that form as an incoming contribution. Check all types

[2021-04-16 09:18] lenucksi commented on #388
Looks great! Thank you!

[2021-04-19 12:38] rrrutledge commented on #388
Wow this is awesome!  Is there a commit or pull request that can be referenced to show how it works, too?  I took a quick look but didn't see anything.

[2021-04-19 13:09] lenucksi commented on #388
https://github.com/InnerSourceCommons/innersourcecommons.org/blob/master/content/learn/learning-path/introduction/02.md that one's got everything in the front matter and the first few lines. Might actually be a quick copy&paste job. **Noice** me says.

[2021-04-20 09:42] rrrutledge commented on #388
OK looks like here is the [relevant commit](https://github.com/InnerSourceCommons/innersourcecommons.org/commit/2bdbbe93133e9e5a150aa88c55e5c26bf3593342).  Neat!  We'll need to add this into the autogeneration script.

[2021-04-20 23:38] Ludmila-N commented on #122
Reviewing Contributor videos, so far the first two, I see a couple glitches with https://innersourcecommons.org/learn/learning-path/contributor/02/
1. The video: at about 3 min 23 sec, @lenucksi suggests that you can help by providing good bugs... I'm not sure this is what I want from my contributors :)
2. The workbook: I cannot find any specific content in this video (or accompanying transcript)

[2021-04-21 09:32] lenucksi commented on #122
Thanks for reviewing!

The intent here is "bug tickets" "well written issues". At least the good ones already help tremendously, so I definitely would want them. Where "well written" means: Detailed, with reproduction step, expectations and reality, possibly even a first patch or guess at a code location. Maybe we could add a small overlay on the video?

Added a suggestion for the first. For the s

[2021-04-29 15:36] rrrutledge commented on #388
@voborgus or @tsadler1988 may be interested in doing this?

[2021-04-29 15:43] rrrutledge commented on #294
Hi, @tapjdey, just checking are you still interested in working on this?

[2021-04-29 16:53] rrrutledge commented on #367
Hi, @ystk, this work has been great!  Let us know if you're thinking about continuing this translation.

[2021-04-29 22:43] tapjdey commented on #294
Hi @rrrutledge , sorry I've been a bit busy this month. I'll create the PR soon.

[2021-04-30 13:37] rrrutledge commented on #294
Ah, nice!  Sounds good.

[2021-05-01 21:39] Ludmila-N commented on #122
Understood, and you say this in a few seconds - so this was provably a self-correction, but it sounds like you're listing bugs along with bug tickets. I think the best option is to cut or mute these ~5 seconds and leave the rest as is.

[2021-05-01 21:42] Ludmila-N commented on #122
Reviewing Contributor videos, Contributor Ethos section:
Question 2 - no issues.
Question 1, answer 4 has the explanation that was never mentioned in the video, suggest rewriting this option:

Also "fulfill" is spelled with double L at the end.

[2021-05-01 21:52] Ludmila-N commented on #350
@rrrutledge @lenucksi - assume I start by creating the new folder at the root of the project, and place the new outline.md into that folder?
How do we want to name it? /sprints doesn't look very clear, and /incorporating-into-sprints is a tad too long...
What about /day2day or /practical-implementation?
Else please suggest/vote

[2021-05-01 21:53] Ludmila-N commented on #350
@rrrutledge are you open to additional ideas on top of your clear and basic guide?
We can always trim them off if you feel they are not widely applicable, or too restrictive.

[2021-05-03 11:46] rrrutledge commented on #350
Sounds great.  I think that it should have the word `sprint` somewhere in the title. `incorporating-into-sprints` is a reasonable length in comparison with some of [our other sections](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/master/trusted-committer).

[2021-05-03 22:56] Ludmila-N commented on #350
@rrrutledge will "/sprint-implementation" fit the bill?
I want to keep the naming to the nouns, so that all sections read in a similar way. And "incorporation" sounds like legal/tax stuff... Hope "implementation" is ok with you?

[2021-05-03 23:00] rrrutledge commented on #350
Sure, that works.

[2021-05-06 00:02] ystk commented on #367
Sorry for the long silence. @rrrutledge
Yes, I will continue it. Just had a busy time in March and April.

[2021-05-06 15:45] rrrutledge commented on #388
Suggest putting the workbook questions at the bottom of the article in a way that is machine-parsable.  Then they can be translated and the script has access to them.

[2021-05-06 15:54] lenucksi commented on #122
Cutting it out sounds good. Do you happen to have taken a note of the time-code such that I can just edit it out and re-upload it?
Other than that: We'll need to update parts of the website, the playlists on YT or other material with the new video code. Can you please point me to the places that need chaninging @tsadler1988 @voborgus ?

[2021-05-06 18:19] rrrutledge opened #396 "Host workbook on innersourcecommons.org"
In [Should we use hugo-quiz to host workbook?](https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/388) we investigated how to get the workbook questions on _innersourcecommons.org_.  As detailed in that issue, we were able to use [quizdown-js](https://github.com/bonartm/quizdown-js) to get it working.  Here is the [relevant commit](https://github.com/InnerSourceCommons/innersourc

[2021-05-06 18:20] rrrutledge commented on #388
Opened [Host workbook on innersourcecommons.org](https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/396) to take forward this work.

[2021-05-06 18:20] #388 closed

[2021-05-09 13:07] lenucksi opened #397 "Translate "Introduction" articles to French"
- [ ] Introduction
- [ ] Problems solved
- [ ] How works
- [ ] Benefits
- [ ] Principles
- [ ] Conclusion

Discussion had it that a person said they would be fine reviewing machine translated content for a French version. Hence, I'm raising this issue and will follow it up with a machine translated version.

[2021-05-10 10:31] #367 closed

[2021-05-12 16:30] OpenPj commented on #382
Probably the next week I'll find some time to work on this 👍

[2021-05-19 12:08] Ludmila-N commented on #350
Resolved by #399

[2021-05-19 12:08] #350 closed

[2021-05-20 11:53] tapjdey commented on #294
@rrrutledge Sorry I haven't been able to work on this. I'll get an update on the first week on June

[2021-05-20 13:45] markdav-is commented on #294
same here.  I just started a new job and drowning in onboarding there.  might be a few months before I come up for air.

[2021-05-20 14:10] rrrutledge commented on #294
No problem, folks.  Thanks for the update.  Good luck on your stuff!

[2021-05-21 00:44] rrrutledge opened #403 ""Implementing InnerSource in Sprints" article"
Now that we have the [outline](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/sprint-implementation/outline.md) we need to write an article.

- [ ] Create article structure #435
- [ ] Create introduction article
- [ ] Create project-prerequisites article
- [ ] etc. for all agreed-upon articles

[2021-05-27 15:41] rrrutledge commented on #367
Amazing work, @johtani and @ystk ‼️ 🎉 🏆

[2021-05-27 15:50] #338 closed

[2021-05-27 19:30] rrrutledge commented on #382
Hi, @OpenPj, did you still want to try for this?

[2021-05-29 06:25] ystk opened #407 "Translate "Product Owner" articles to Japanese"
- [x] Opening
- [x] How Difficult it is to be Middle Management
- [x] Major Benefits are Built into the InnerSource Process
- [x] New Roles and Responsibilities
- [x] Recap and Takeaways
- [x] Closing

[2021-06-03 06:27] OpenPj commented on #382
Sure, sorry for this delay, I'll try to work on this today!

[2021-06-03 07:55] OpenPj commented on #382
Just created a new pull request for this, anyway it includes only the current sections translated in italian:
https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/412
Hope to find some time during these days to finish the overall translation.

[2021-06-19 19:14] JFernando122 commented on #383
i can help translate the missing files

[2021-06-19 20:07] rrrutledge commented on #383
Thanks for wanting to help, @JFernando122 ❗  how can I assist in your getting started?

[2021-06-21 00:35] tsadler1988 commented on #349
PRs opened for a first iteration:
- https://github.com/InnerSourceCommons/innersourcecommons.org/pull/130
- https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/426

Future improvements:
- Trigger on pushes to this repo instead of hourly (discussed in https://github.com/InnerSourceCommons/innersourcecommons.org/pull/130)
- Remove manual step of adding new languages to the website [co

[2021-06-21 13:39] lenucksi commented on #122
"Providing good bugs" is at 3:25, "providing good issue tickets for bugs" is at 3:29
Modified video has been uploaded to the the GDrive. We need someone to re-upload it to YT, adapt the YT playlists, add the thumbnail and modify the website parts accordingly.

[2021-06-21 16:04] rrrutledge commented on #122
Modified video: https://drive.google.com/file/d/1OXVUYR40AifTNKCDdMSRK82gtrpmUcft/view?usp=sharing

[2021-06-21 17:28] tsadler1988 opened #428 "Automation to ensure links in translations are correct"
We are sometimes getting situations where links in translated articles are broken (see https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/419).

There may be a way to ensure correctness through automation, using the existing [scripts](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/master/scripts) and [urls.yaml](https://github.com/InnerSourceCommons/InnerSourceL

[2021-06-22 10:53] rrrutledge commented on #383
It looks like the [principles](https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/409) and [conclusion](https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/410) articles are already in pull request.  @JFernando122, would you want to get started in translating the [Trusted Committer](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/master/trusted-com

[2021-06-22 18:31] JFernando122 commented on #383
Sure, i will start with the Trusted Commiter section

[2021-06-23 02:08] rrrutledge commented on #383
Sounds great, @JFernando122!

[2021-06-23 02:09] rrrutledge commented on #383
It will be great to see the content out there and your name on the translations.

[2021-06-29 14:38] clcoffey commented on #122
The modified video is now on Youtube https://youtu.be/S0Gps2AbZ7M courtesy of @katiegilroyy Can I just change the website directly to point it to the video or do you have to do it in your repository?

[2021-07-05 15:39] lenucksi commented on #122
New video is live and adapted. Remaining is adaptation of the Workbook question

[2021-07-06 01:52] tsadler1988 commented on #382
Reviewed this as part of https://github.com/InnerSourceCommons/innersourcecommons.org/pull/134. Looks like we're very nearly done! I've updated the tick boxes at the top of this issue. Thank you everyone who's contributed to this.

[2021-07-09 01:18] rrrutledge commented on #122
Nice work!

[2021-07-09 01:19] rrrutledge commented on #382
Awesome!  So it's just some Spanish translations?  We've seen activity from @fioddor, @dicortazar, and @JFernando122 - perhaps one of them can do the quick translation?

[2021-07-09 10:15] tsadler1988 commented on #382
I forgot there's also [top-level _index pages](https://github.com/InnerSourceCommons/innersourcecommons.org/pull/137) as opposed to the per-section _index pages - but the text contained in them isn't rendered anywhere on the website so isn't really an issue.

So I'm happy to close this issue once #433 is done 😄

[2021-07-10 11:04] fioddor commented on #382
@JFernando122 did and I approved. Waiting for a TC to merge.

[2021-07-12 15:06] ystk commented on #407
This issue was resolved.

[2021-07-12 15:06] #407 closed

[2021-07-12 15:47] tsadler1988 commented on #397
This is done and live on the website 🎉  - https://innersourcecommons.org/fr/learn/learning-path/introduction/

[2021-07-12 15:47] #397 closed

[2021-07-12 15:49] tsadler1988 commented on #383
- 01 - 04 done and on the website
- 05 done and needs publishing
- 06 waiting on @dicortazar to address @fioddor's feedback (https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/409)

[2021-07-12 15:54] tsadler1988 commented on #382
Thanks @fioddor and @JFernando122 - happy to close this issue now.

[2021-07-12 15:54] #382 closed

[2021-07-12 16:21] tsadler1988 commented on #349
Changed the approach to have an Action in the Learning Path which builds the files and commits to a branch of innersourcecommons.org (#432) with a second action on innersourcecommons.org to raise the PR (https://github.com/InnerSourceCommons/innersourcecommons.org/pull/130).

Once #432 is merged and seen to be working, I would consider this issue ready to close.

Remaining manual steps we may want

[2021-07-13 15:35] lenucksi commented on #397
The thumbnails actually all say introduction - probably that needs a fix.

[2021-07-13 17:26] tsadler1988 commented on #397
Don't think that's specific to French nor the Introduction section e.g. https://innersourcecommons.org/learn/learning-path/contributor/ all the thumbnails say The Contributor, but they are different images for the different videos.

[2021-07-13 18:47] rrrutledge commented on #383
Great progress!

[2021-07-13 18:48] rrrutledge commented on #407
Amazing work, Yoshi!!

[2021-07-13 18:50] rrrutledge commented on #382
Nice work, all!

[2021-07-19 14:56] fioddor commented on #122
I've watched the _Introduction_ videos and I was able to complete their corresponding workbook. I'm totally uninvolved in their creation, but in the other hand I already have some previous knowledge about open source communities, so take my feedback with a pinch of salt.

[2021-07-19 15:45] #349 closed

[2021-07-19 15:55] rrrutledge commented on #122
Thanks for this review @fioddor.

[2021-07-19 15:55] rrrutledge commented on #122
@lenucksi can you update the checkboxes in the description with what has been done and what is left?

[2021-07-19 16:01] rrrutledge commented on #254
May be some time to work on this after the holiday season (early-to-mid August).

[2021-07-19 16:37] fioddor opened #436 "Translate the "Contributor" articles to spanish"
Create a subdirectory `es` and place translated copies of:

- [x] [Introduction](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/contributor/01-introduction-article.asciidoc)
- [x] [Becoming an InnerSource Contributor](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/contributor/02-becoming-a-contributor-article.asciidoc)
- [x] [Contributor Ethos]

[2021-07-19 16:40] fioddor commented on #436
@rrrutledge, @tsadler1988 As _collaborator_ I cannot assign labels or projects.

[2021-07-27 09:43] #377 closed

[2021-07-29 15:52] #403 closed

[2021-08-04 17:26] rrrutledge opened #441 "Plan for Embed-able Content Feed"
Some people want to embed learning path content into their internal portals.  How can we package up the learning path so that companies can do that?

[2021-08-05 04:11] JFernando122 commented on #436
Hi, i got a new job so i don't have as much time as i had before. I can do it on saturday-sunday if no one else is doing it already

[2021-08-05 09:16] Sergih28 commented on #436
Hi! 👋

I'd like to work on this. The suggested tip will help me get it done faster for sure 😃

[2021-08-05 09:28] lenucksi commented on #436
Be very welcome to do so! Looking forward to your work.

[2021-08-05 12:00] Sergih28 commented on #436
I started working on this.

Do you want me to create PRs whenever I finish each file, or wait until I have all of them?

So far I did the _index_ and _introduction_ files.

[2021-08-05 15:02] fioddor commented on #436
"Release early, release fast". Small, independent pieces are not only
easier and faster to finish, but also easier and faster to review. :-)

Welcome onboard, BTW!

El jue, 5 ago 2021 a las 14:00, Sergi ***@***.***>) escribió:

[2021-08-07 12:53] Sergih28 commented on #436
Let me know if I'm on the right track before continuing with the rest of translations 👍

[2021-08-09 19:37] rrrutledge commented on #436
Welcome onboard!  Glad you're here!  You can also ask questions in the #learning-path channel of the [InnerSource Commons Slack](https://innersourcecommons.org/slackinvite)

[2021-08-31 12:51] clcoffey commented on #441
I'm having a meeting tomorrow afternoon to discuss requirements, I will let you know more details then.

[2021-09-02 11:01] rrrutledge commented on #441
Sounds good - thanks for this work!

[2021-09-06 15:40] #122 closed

[2021-09-07 10:37] clcoffey commented on #441
Clare and I have had a meeting with one company last week around this and we are in the requirements gathering phase. We also have a second company that has expressed an interest and we will schedule a meeting with them as well.

It is very likely this will be a long project and I won't have any concrete updates until October.

[2021-09-08 10:47] rrrutledge commented on #441
Thanks for this update, Cristina!  Let us know what you find.

[2021-09-13 15:57] lenucksi commented on #248
We are actually now hosting with compiled markdown via the new website using GitHub pages instead of always fetching fresh from GitHub.

[2021-09-13 15:57] #248 closed

[2021-09-27 11:29] tsadler1988 commented on #428
Work in progress: https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/check-translation-links

[2021-09-27 15:38] rrrutledge commented on #436
@Sergih28 this initial translation works great!  It is out there on [the innersourcecommons.org website](https://innersourcecommons.org/es/learn/learning-path/contributor/01/) with your name on it!  Please do follow the same process on the other articles in this section.  Great stuff!

[2021-10-18 15:38] rrrutledge commented on #441
OK thank you!

[2021-10-25 15:56] tsadler1988 opened #454 "Instructions for using machine translations as a starting point for Learning Path article translations"

[2021-10-25 16:07] tsadler1988 opened #455 "Common concerns people have when adopting InnerSource"
We have observed that new adopters of InnerSource have common concerns e.g.
- What is the cost/overhead?
- Why not just open source?
- Will this slow us down?
- Will we just be reviewing PRs all day every day?

This could be a candidate for a new segment within the introduction section.

We may start this as a simple FAQ.

[2021-11-08 16:51] tsadler1988 commented on #436
Closing #449 made this close - wonder if we need to change our automation rules as #449 was only for one segment.

[2021-11-08 17:03] tsadler1988 commented on #436
Looks like this is GitHub behaviour for [linked PRs](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) - all we can do is stop linking PRs as far as I can tell.

[2021-11-08 18:08] lenucksi commented on #454
Request to DeepL sent.

[2021-11-29 16:47] rrrutledge commented on #454
Heard back from DeepL:  We can use DeepL as long as we do not sell the translated content and do not mention DeepL in the published content page.

[2021-11-29 16:50] rrrutledge commented on #441
Translated learning path content may not be sold.

[2021-12-07 14:43] #428 closed

[2022-01-01 03:14] #454 closed

[2022-01-03 16:47] rrrutledge opened #459 "Translate "Mechanics of Contributing" to Spanish"
https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/contributor/04-mechanics-of-contributing-article.asciidoc

[2022-01-03 16:49] rrrutledge opened #460 "Translate Trusted Committer section into French"
The goal is to have all 8 French articles for [Trusted Committer](https://innersourcecommons.org/learn/learning-path/trusted-committer/)

- [x] [01-introduction.asciidoc](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/trusted-committer/01-introduction.asciidoc)
  - [x] Tease
  - [x] Correct language
- [x] [02-ensuring-product-quality.asciidoc](https://github.com/InnerSou

[2022-01-10 16:48] rrrutledge commented on #441
@clcoffey is there any more work to do here?

[2022-01-10 17:00] fioddor commented on #365
Is it still an issue on the new website also, @WillemJiang ? If so we need some more details to address this. As non chinese speakers the problem is not apparent to us.]

[2022-01-10 17:08] fioddor commented on #335
Not moved in over a year.

[2022-01-10 17:08] #335 closed

[2022-01-10 17:09] fioddor commented on #334
Not moved in over a year.

[2022-01-10 17:09] #334 closed

[2022-01-10 17:15] fioddor commented on #348
Addressed by #331.

[2022-01-10 17:15] #348 closed

[2022-01-10 17:20] fioddor commented on #303
Covered by our CC-BY-SA-4.0 License.

[2022-01-10 17:20] #303 closed

[2022-01-10 17:35] tsadler1988 commented on #222
We're going to close this for now due to the number of articles and translations - we think we've left this too late now! However, this is definitely something to consider if we do a refresh of our articles in the future.

[2022-01-10 17:35] #222 closed

[2022-01-12 04:34] rrrutledge commented on #375
Opened https://github.com/InnerSourceCommons/innersourcecommons.org/pull/212

[2022-01-15 11:20] rrrutledge commented on #375
That attempt didn't work - updating the workbook tile in that way also updated the main landing tile.  Will need to do the work to have a separate tile for the workbook checked in.

[2022-01-17 17:02] fioddor commented on #375
Is there anything still to be done here?

[2022-01-17 20:53] rrrutledge commented on #375
Sure - there has not been any work done that actually advances fixing this issue.

[2022-01-30 19:55] tsadler1988 commented on #460
Hi @SJVle, we were talking about doing this via machine translations as per #414. If we did this, would you be interested in reviewing it again? No problem if not, we can focus on other languages if we don't have a French speaking reviewer lined up 🙁 .

[2022-01-31 17:01] rrrutledge commented on #375
We'd like for the checked-in section image as well as the checked-in workbook image to be in the learning path repo (removed from the ".org" repo).  These can be copied over in the copy script and the section data updated to reference the location of these copied images.

[2022-02-01 18:26] SJVle commented on #460
Hi @tsadler1988 Ok, I could review Trusted commiter. I'm not so used with Github, so wich file I had to read ?

[2022-02-02 10:51] tsadler1988 commented on #460
Thanks @SJVle! We haven't created the machine translations yet, we will tag you when we do.

[2022-02-28 16:44] rrrutledge commented on #441
Meeting scheduled on 1 March to discuss.

[2022-03-04 11:38] rrrutledge opened #467 "Document Learning Path Trusted Committers"

[2022-03-07 16:45] rrrutledge commented on #441
We did meet.  Our representative was interested in how to contribute generally to the ISC.  Could be patterns or learning path, depending on what is needed.   What I think we need is to set up some kind of liaison to their company ISPO that stays in touch regularly and directs contributions to the appropriate place.

[2022-03-07 16:50] tsadler1988 commented on #441
Liaisons with other companies sounds like an exciting idea!

Closing this as an embeddable content feed is not a requirement.

[2022-03-07 16:50] #441 closed

[2022-03-07 16:53] tsadler1988 commented on #467
We have this in our README.

[2022-03-07 16:53] #467 closed

[2022-03-31 17:56] rrrutledge opened #468 "Plan for IBM Watson powered translations to the learning path."
Folks at IBM are willing to contribute internal resources (Watson translator) for ISC content.  We should figure out what is available and come up with a plan for what we are going to do to leverage those resources toward the learning path.

The plan should be encapsulated in a set of cards here on the board that we can review together.

[2022-04-11 16:04] rrrutledge opened #469 "Spanish translation of "Benefits of Becoming an InnerSource Contributor""
Translate [Benefits of becoming an InnerSource Contributor](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/contributor/05-benefits-of-contribution-article.asciidoc) to Spanish ([Contributing Guidelines](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/CONTRIBUTING.md#translations)).

[2022-04-11 16:09] tsadler1988 commented on #468
For now we will be using this manually. In the future we may want to explore automation if IBM are able to expose an endpoint.

[2022-05-15 01:17] nysenthil commented on #436
Last week I did a machine translation of "Benefits of becoming an InnerSource Contributor" using the IBM Language Translation software. One of my native Spanish Speaking colleagues here in my IBM building volunteered and verified the machine translation text by adding a few corrections of his own. He also suggested that it is better to leave terms such as "upstream" and "bus factor" as it is since

[2022-05-15 01:24] nysenthil commented on #436
Hi Tom and Russ,
Last week I did a machine translation of "Benefits of becoming an InnerSource Contributor" by using our IBM Language Translation software. One of my native Spanish Speaking colleagues here in my IBM building (Ray Valdez) volunteered and verified the machine translated text by adding a few corrections of his own. He also suggested that it is better to leave terms such as "upstream"

[2022-05-15 01:25] nysenthil commented on #436
Hi Tom and Russ,
Last week I did a machine translation of "Benefits of becoming an InnerSource Contributor" by using our IBM Language Translation software. One of my native Spanish Speaking colleagues here in my IBM building (Ray Valdez) volunteered and verified the machine translated text by adding a few corrections of his own. He also suggested that it is better to leave terms such as "upstream"

[2022-05-16 19:32] rrrutledge commented on #436
Great, @nysenthil ❗  We can use next week's meeting to go through the process of getting these into a pull request.  Very much looking forward to it ❗

[2022-05-23 19:24] rrrutledge opened #472 "Automated translation and pull request of #learning-path articles"

[2022-05-23 19:25] rrrutledge commented on #472
@tjohnson31415 expressed interest in checking this out.

[2022-06-21 16:01] tsadler1988 commented on #468
Duplicate of #472

[2022-06-21 16:01] #468 closed

[2022-07-12 15:01] tjohnson31415 commented on #436
Turns out we had already committed the translation to doc 05 in https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/471 during one of the working sessions, so I think this issue is complete.

[2022-07-12 16:07] #436 closed

[2022-08-05 22:31] rrrutledge opened #480 "Change main branch to 'main' instead of 'master'."

[2022-08-09 15:57] rrrutledge opened #483 "Push code directly to main branch of website repo"

[2022-08-09 16:04] rrrutledge commented on #472
Need to create a free account at IBM cloud and then can use the translation APIs.

[2022-08-09 16:05] rrrutledge commented on #472
Machine translations still need to be validated by a native speaker.

[2022-08-09 16:06] rrrutledge commented on #472
The value is the native speaker.  Anyone can use the browser dropdown to machine translate the page into whatever language.

[2022-08-09 16:07] rrrutledge commented on #472
The process for human verification is the key step to figure out in order to justify doing the work to automate translation.

[2022-08-09 16:14] rrrutledge opened #484 "Recognize non-GitHub contributors to articles"
Sometimes people contribute but someone else puts their work into GitHub.  We want to be able to have a manually-maintained list of out-of-GitHub contributors that are associated with each article and have them show up on the published articles just like any other GitHub contributor.

[2022-08-09 16:21] rrrutledge opened #485 "Publish latest French article"
https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/main/trusted-committer/fr/03-keeping-the-community-healthy-fr.asciidoc missed its CI build and now is not published to the website.

[2022-08-09 19:14] rrrutledge opened #488 "Publish articles without videos"
There are two articles in the [introduction section](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/main/introduction) that are text-only at this point.  They should still be published on the website, just without a video.

[2022-08-10 09:44] dellagustin-sap opened #489 "Feedback to PR #481 - Introduction - Is InnerSource Right for My Project"
Hello, I'd like to leave some feedback for https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/481.

I often advocate that an InnerSource approach makes sense even if the maintainers of a project do not expect contributions, as adopting InnerSource practices have other positive side-effects/byproducts, besides contributions (specially when speaking of code contributions):
- Shaping

[2022-08-16 14:37] rrrutledge commented on #489
I think it's OK for different articles to contradict one another as long as each is focused, clear, and consistent on its own.  Then people can mix and match out of our cadre of articles with InnerSource advice.

[2022-08-16 14:38] rrrutledge commented on #489
Maybe over time we can come up with different tags to help people navigate and find which articles are useful to them based on attributes and surrounding context or culture or goals that is present in their business environment.

[2022-08-16 14:42] dellagustin-sap commented on #489
Hello @rrrutledge , one aspect of my feedback - I did not take the context of where the text would be into consideration - I tried to find back then where it was published, but could not find in the website - where is this article published? That can help me understand it better - I like the idea this "_InnerSource Everywhere!_" article.

[2022-08-16 15:53] rrrutledge commented on #485
This will be done when the website build is fixed.  https://github.com/InnerSourceCommons/innersourcecommons.org/pull/341

[2022-08-16 17:09] lenucksi commented on #489
In that regard of a structure: I think the Mindmap concept Feiwan contributed to the patterns WG might possibly be worth considering here too.

[2022-08-19 14:58] rrrutledge commented on #489
@dellagustin-sap it isn't published, yet, but we'll plan to have it as a companion to these articles: https://innersourcecommons.org/learn/learning-path/introduction/

Would you be interested in working on an "_InnerSource Everywhere!_" article?

[2022-08-19 15:22] dellagustin-sap commented on #489
I'm interested, are there any deadlines or can I do it on my pace?

[2022-08-23 15:55] lenucksi commented on #483
@nysenthil says that @rrrutledge figured it's unlikely to happen and thus it ended up in done. Do we know anything more here?

[2022-08-23 15:57] lenucksi commented on #485
@nysenthil Article 5 and article 6 are in the process of being verified.We're closing in on the finish line. :tada:

[2022-08-23 19:48] rrrutledge commented on #483
This is done

[2022-08-23 19:48] #483 closed

[2022-08-24 16:39] #485 closed

[2022-08-31 10:06] rrrutledge opened #494 "InnerSource Everywhere! Article"
Per our [discussion](https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/489#issuecomment-1216726783) let's create a new article with the theme, `InnerSource Everywhere!`.
Take a look in the [README](https://github.com/InnerSourceCommons/InnerSourceLearningPath/#content-organization) for how the repo is setup.
This new article should go in the `Introduction` section.

[2022-08-31 10:08] rrrutledge commented on #489
No deadlines!  I created the issue [InnerSource Everywhere! Article](https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/494) to track and sent you an invite to join the project.
The issue shows up on our [Kanban board](https://github.com/InnerSourceCommons/InnerSourceLearningPath/projects/1) so we will track and support it in that way.
I, myself, will probably need this segment a

[2022-08-31 11:32] dellagustin-sap commented on #489
With that, I'll close this issue, as from my point of view the topic will be followed up on https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/494.

[2022-08-31 11:51] rrrutledge commented on #489
Sounds great - thank you!

[2022-09-06 15:42] tsadler1988 opened #497 "Check and fix links in translations"
Per https://innersourcecommons.org/de/learn/learning-path/introduction/06/ we have links that are incorrectly formatted - we should check and fix this.

[2022-09-06 15:48] tsadler1988 commented on #489
Closing this as future work will be tracked in #494. Thank you for sharing your ideas @dellagustin-sap! Looking forward to seeing the new content.

[2022-09-06 15:48] #489 closed

[2022-09-06 16:14] rrrutledge opened #498 "Auto-update links during website generation"
We have the [Update Links in Translations script](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/main/scripts/update_links_in_translations.js) that can run standalone, but really we'd like this to update the articles on each commit or each generation of the website.

[2022-09-13 15:53] rrrutledge commented on #460
@tsadler1988  can you remind us what is the script to check the links?

[2022-09-27 15:27] fioddor commented on #469
This was already done and [published.](https://innersourcecommons.org/es/learn/learning-path/contributor/05/).

[2022-09-27 15:27] #469 closed

[2022-09-27 15:28] fioddor commented on #459
This was already done and [published](https://innersourcecommons.org/es/learn/learning-path/contributor/04/).

[2022-10-12 11:12] rrrutledge commented on #393
What is this item about?  I still don't understand.

[2022-10-13 17:08] lenucksi commented on #393
I think this might have been resolved through the #391 thing. It's been extracted from there and it wasn't on the board so I added to see if we can/need do something about it. Take a look at #391 and maybe we can just close it.

[2022-10-18 15:49] rrrutledge commented on #488
You will need to run (and probably modify) [generate_learning_path_markdown.js](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/main/scripts#generate_learning_path_markdownjs) in order to complete this.

[2022-10-18 15:52] rrrutledge commented on #488
@marshmallowrobot will take a look.  Reach out with any questions and updates!

[2022-10-18 15:55] rrrutledge commented on #460
@nysenthil to connect with @rrrutledge when his time frees up to run the "link checker" script.

[2022-10-25 15:49] rrrutledge commented on #488
Glad you are working on this, @marshmallowrobot ❗  5K requests sounds like _a lot_ (too many).  @tsadler1988 may have some idea of why you are making so many (or how to reduce it).

Are we making one API call for each language, for example?  We can develop in English-only mode if that were the case.

[2022-10-25 15:56] rrrutledge commented on #460
We suspect @nysenthil time may free up sometime in November to look at this.

[2022-10-31 14:12] dellagustin-sap commented on #494
I'm reading an article today that could serve as a reference, by Arno Mihm from Microsoft: https://www.linkedin.com/pulse/innersource-better-way-develop-arno-mihm

[2022-10-31 23:19] rrrutledge commented on #488
@marshmallowrobot this is amazing progress!

How about just white space if no video?

[2022-11-01 15:40] rrrutledge opened #503 "Build failing (rate limited)"
We can't publish to the website.  See https://github.com/InnerSourceCommons/InnerSourceLearningPath/actions/runs/3228272591/jobs/5284148344

[2022-11-01 15:40] rrrutledge commented on #503
@marshmallowrobot has some more detail.

[2022-11-01 15:42] rrrutledge commented on #488
Code updated in https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/502
Website formatting updated in https://github.com/InnerSourceCommons/innersourcecommons.org/pull/393

[2022-11-01 15:45] rrrutledge opened #504 "Convert "Is InnerSource Right?" to ASCIIDOC"
https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/main/introduction/08-is-innersource-right.md

Everything else is in ASCIIDOC

[2022-11-01 15:49] rrrutledge commented on #503
Some ideas:
* Can we cache results when fetching user info?
* Can we batch calls together (rather than one request per file)?

[2022-11-01 16:05] rrrutledge commented on #504
See https://github.com/InnerSourceCommons/InnerSourceLearningPath/pull/505

[2022-11-07 18:09] #504 closed

[2022-11-08 03:21] rrrutledge commented on #504
Thank you, @marshmallowrobot ❗️

[2022-11-08 16:41] #460 closed

[2022-11-10 19:12] lenucksi commented on #488
Thanks for working on this @marshmallowrobot! Screenshot looks good! I side with "white space" as @rrrutledge proposed.
Of course, we could always use a an appropriately licensed and carefully curated meme / member of the creative-404-images tribe. :wink:

[2022-11-14 10:27] rrrutledge commented on #503
Great info, @marshmallowrobot ❗️ I wonder if there is some kind of open source module out there for calling GitHub that takes all of this stuff into account (with appropriate retries)?

[2022-11-14 12:24] lenucksi commented on #503
I wonder if you've already tried this SDK GitHub apparently provides: https://octokit.github.io/rest.js/v19#throttling (I'd guess you're already using it, so ignore in that case. If not, maybe it's still useful.)
The docs state that there appears to be a plugin to handle / facilitate handling the ratelimiter.

[2022-11-14 20:23] rrrutledge opened #509 "Wrong video displays for video-less articles"
Somehow we have Trusted Committer videos showing up with these video-less articles.

https://innersourcecommons.org/learn/learning-path/introduction/07/

https://innersourcecommons.org/learn/learning-path/introduction/08/

[2022-11-14 20:33] rrrutledge opened #510 "Translate Trusted Committer section to Italian"
Follow the instructions in the [contributing translations](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/main/CONTRIBUTING.md#translations) documentation.

- [ ] [01-introduction.asciidoc](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/main/trusted-committer/01-introduction.asciidoc)
  - [ ] Machine translation in pull request
  - [ ] Native speaker review

[2022-11-15 16:34] rrrutledge commented on #503
@marshmallowrobot says that the throttling module appears to work ‼️  Just need to play around with the throttling settings.

[2022-11-15 16:36] rrrutledge commented on #488
Blocked waiting for the rate-limiting work to finish.

[2022-11-15 16:42] rrrutledge commented on #509
@marshmallowrobot says that these don't have videos so the index overflows into the trusted committer videos and that's why they're there.  Should be fixed along with https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/488

[2022-11-15 16:43] rrrutledge commented on #509
We'll see this fixed after the rate limiting work is finished.

[2022-11-15 16:49] rrrutledge opened #511 "Run link checker with each website build"
Why are we running this script manually?  Just run it each time there is a build of the international folders.

[2022-11-15 16:54] rrrutledge commented on #484
For now we think it's reasonable that translators should just have GitHub account and work in GitHub.

[2022-11-15 16:54] #484 closed

[2022-11-16 02:59] rrrutledge commented on #503
Seems fine.  A little slow for development, but we could remedy that by having an English-only build or something if needed.  Seems fine for now, though.

[2022-11-21 12:51] lenucksi opened #514 "Exempt our meeting mechanics documents from the CC-BY-SA part and turn them into CC-BY or even CC-0"
The meeting mechanism we use in the learning path (shaped by @rrrutledge and many others) has proven to work really well over time and people.
It turns out to be even valuable for other non learning path groups (e.g. our foundation board meetings).

However, the material is still CC-BY-SA licensed and thus would need to return changes back to its origin. Which some people might not be comfortable

[2022-11-21 13:48] rrrutledge commented on #514
Fine for my part.

[2022-11-21 21:01] #503 closed, assigned to marshmallowrobot

[2022-11-29 16:39] rrrutledge commented on #510
@nysenthil has received the Italian model and located a native speaker.

[2022-11-29 16:43] rrrutledge commented on #511
Duplicate of https://github.com/InnerSourceCommons/InnerSourceLearningPath/issues/498

[2022-11-29 16:43] #511 closed